<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/swiper.css" rel="stylesheet"/>
    <script src="../js/jquery.js"></script>
</head>
<body>
<div class="header">
<div class="header_top clear">
    <div class="logo"><img src="../images/logo.jpg"/> </div>
    <div class="tian">
        <h4>天骄传奇</h4>
        <p>tianjiao</p>
    </div>
    <div class="telephone">
        <span class="login"><a href="javascript:;">登录</a></span>
        <span class="login"><a href="javascript:;">注册</a></span>
    </div>
</div>
</div>
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>
<div class="main">
    <div class="plain introduce floor" id="#plain_introduct">
         <div class="plain_txt">
             <h1> 平台介绍</h1>
             <p>INTRODUCTION</p>
         </div>
        <div class="plain_one">
            <div class="one_txt">1.平台功能介绍的标题</div>
            <!--<div class="p_tx">-->
            <p> 国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！</br>&nbsp;&nbsp;&nbsp;&nbsp;
                北京中德安驾科技发展有限公司（简称“中德安驾”）是交通运输部道路交通安全中德合作项目的实施单位，由德国Degener国际有限公司和中国交通运输部公路科
                学研究院于2004年在中德两国总理、交通部长国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！</br>&nbsp;&nbsp;&nbsp;&nbsp;
                国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！
                北京中德安驾科技发展有限公司（简称“中德安驾”）是交通运输部道路交通安全中德合作项目的实施单位.</p>
            <!--</div>-->
        </div>
        <div class="pic_plain">
            <img src="../images/plain.jpg">
        </div>
        <div class="plain_two clear">
            <div class="two_txt">2.平台优势介绍的标题</div>
            <!--<div class="p_tx">-->
            <p> 国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！</br>&nbsp;&nbsp;&nbsp;&nbsp;
                北京中德安驾科技发展有限公司（简称“中德安驾”）是交通运输部道路交通安全中德合作项目的实施单位，由德国Degener国际有限公司和中国交通运输部公路科
                学研究院于2004年在中德两国总理、交通部长国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！</br>&nbsp;&nbsp;&nbsp;&nbsp;
                国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！
                北京中德安驾科技发展有限公司（简称“中德安驾”）是交通运输部道路交通安全中德合作项目的实施单位.</p>
            <!--</div>-->
        </div>
        <div class="pic_plain_two">
            <img src="../images/paozi.jpg">
        </div>
    </div>
    <div class="company introduce floor" id="#commpany_introduct">
        <div class="commpany_txt">
            <h1>公司介绍</h1>
            <p>INTRODUCTION</p>
        </div>
        <div class="company_p">
            <p>国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！</br>&nbsp;&nbsp;&nbsp;&nbsp;
                北京中德安驾科技发展有限公司（简称“中德安驾”）是交通运输部道路交通安全中德合作项目的实施单位，由德国Degener国际有限公司和中国交通运输部公路科
                学研究院于2004年在中德两国总理、交通部长国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！</br>&nbsp;&nbsp;&nbsp;&nbsp;
                国内首家专业提供交通安全教育产品和培训咨询服务的中外合资企业，具备10年的行业经验，书籍、软件、培训课远程教育平台经交通运输部公路科学研究院审定！
                北京中德安驾科技发展有限公司（简称“中德安驾”）是交通运输部道路交通安全中德合作项目的实施单位.</p>
        </div>
        <div class="company-pic">
            <img src="../images/03.jpg"/>
        </div>

    </div>
    <div class="enter introduce  floor " id="#enter_introduct">
        <div class="enter_txt">
            <h1>商户管理</h1>
            <p>INTRODUCTION</p>
        </div>
        <div class="manage clear">
            <ul>
                <li class="li_one">
                    <a href="javascipt:;">我的公司</a>
                </li>
                <li class="li_two">
                    <a href="javascipt:;">上传商品</a>
                </li>
                <li class="li_third">
                    <a href="javascipt:;">待上传</a>
                </li>
                <li class="li_fore out">
                    <a href="javascipt:;">已上传</a>
                </li>
                <li class="li_five out">
                    <a href="javascipt:;"> 已下架</a>
                </li>
            </ul>

        </div>
            <div class="product_manage">
                <a href="javascript:;">管理商品</a>
            </div>

    </div>
    <div class="contant introduce floor" id="#contant_introduct">
        <div class="contant_txt">
            <h1>联系我们</h1>
            <p>INTRODUCTION</p>
        </div>
        <div class="cont_qq clear">
            <ul>
                <li>
                    <img src="../images/phone.png"/>
                    <p>电话:010-518518518</p>
                </li>
                <li>
                    <img src="../images/QQ.png"/>
                    <p>QQ:010-518518518</p>
                </li>
                <li>
                    <img src="../images/qq_07.png"/>
                    <p>邮箱:010-518518518</p>
                </li>
            </ul>
        </div>
        <div class="address">
            <div class="add">
                <p><a href="http://map.baidu.com/"> 地址:北京巴拉巴拉</a></p>
                <p><a href="http://map.baidu.com/"> 路线:北京市黄渠地铁站C口</a></p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_one">

    </div>
</div>
<ul class="LocationFloorList">
    <li class="ac"><b>平台介绍</b><span>平台介绍</span></li>
    <li><b>公司介绍</b><span>公司介绍</span></li>
    <li><b>商户管理</b><span>商户管理</span></li>
    <li><b>联系我们</b><span>联系我们</span></li>
</ul>
<script src="../js/swiper.jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mySwiper = new Swiper ('.swiper-container', {
          //  loop: true,
           paginationClickable: true,
            //grabCursor: true,
            autoplay: 3000,
            // 如果需要分页器
            pagination: '.swiper-pagination',

            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev'

            // 如果需要滚动条
            //scrollbar: '.swiper-scrollbar'
        })
    })

</script>
</div>
<script>
    window.onload=function(){
        //楼层选择
        function leftLocation(){
            var LocationFloorList=document.getElementsByClassName('LocationFloorList')[0];
            var aLi=LocationFloorList.getElementsByTagName('li');
            var aFloor=document.getElementsByClassName('floor');
            var arr=[];
            for(var i=0;i<aFloor.length;i++){
                var json={};
                json.name=i;
                json.offsetTop=aFloor[i].offsetTop;
                arr.push(json);
            }
            window.onscroll=function(){
                var t=arr[0].offsetTop-document.documentElement.clientHeight;
                var b=arr[arr.length-1].offsetTop+aFloor[aFloor.length-1].offsetHeight;
                var scrolltop=document.documentElement.scrollTop || document.body.scrollTop;
                if(scrolltop>t&&scrolltop<b){
                    LocationFloorList.style.display='block';
                    LocationFloorList.style.marginTop=-LocationFloorList.offsetHeight/2+"px";

                }else{
                    LocationFloorList.style.display='none';
                };


                var last_arr=[];
                for (var j=0;j<arr.length;j++){
                    if(arr[j].offsetTop<scrolltop+400){
                        last_arr.push(arr[j].name);
                    }
                    var li_index=last_arr.length-1<0?0:last_arr.length-1;
                }
                for(var k=0;k<aFloor.length;k++){
                    aLi[k].className="";
                }
                aLi[li_index].className="ac";


                for(var i=0; i<aFloor.length; i++){
                    aLi[i].index=i;
                    aLi[i].onclick=function(){
                        var start=document.documentElement.scrollTop || document.body.scrollTop;
                        var end=arr[this.index].offsetTop;
                        windowMove(start,end,1000)
                    };
                    aLi[i].onmouseover=function(){
                        var ccc=this.className;
                        this.className="active";
                        this.onmouseout=function(){
                            this.className=ccc;
                        }
                    }

                }

            }
        }
        leftLocation();
        //屏幕滚动
        function windowMove(start,end,time){
            var timer;
            var dis=end-start;
            var time=time||1500;
            var count=parseInt(time/30);
            var n=0;
            clearInterval(timer);
            timer=setInterval(function(){
                n++;
                var a=1-n/count;
                var step_dis=start+dis*(1-a*a*a*a);
                window.scrollTo(0,step_dis);
                if(n==count){
                    clearInterval(timer);
                }
            },30)

        }
    }
</script>
</body>
</html>