<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/manage_up_end.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>

    <script type="text/javascript">

        $(function(){

            $('.beautify_input').cssSelect();

        });

    </script>
</head>
<body>
<div class="header">
    <div class="header_top clear">
        <div class="logo"><img src="../images/logo.jpg"/> </div>
        <div class="tian">
            <h4>天骄传奇</h4>
            <p>tianjiao</p>
        </div>
        <div class="telephone">
            <span class="login"><a href="index2.html">返回首页</a></span>
            <span class="login"><a href="javascript:;">欢迎福尔摩斯</a></span>
            <span class="login"><a href="../index.html">退出</a></span>
        </div>
    </div>
</div>
 <div class="con_content clear">
     <div class="nav_left">
         <div class="product_title nav"><a href="javascript:;">商品管理</a> </div>
             <div class="nav_ul nav">
                 <ul>
                     <li><a href="javascript:;">我的公司</a> </li>
                     <li><a href="javascript:;">上传商品</a> </li>
                     <li><a href="manage_up_end.html">已上架</a> </li>
                     <li><a href="javascript:;">已下架</a> </li>
                     <li><a href="javascript:;">待上架</a> </li>
                 </ul>
             </div>
     </div>
     <div class="con_right clear">
         <select prompt="更多筛选" class="sele">
             <option>按时间排序</option>
             <option>按价格排序</option>
             <option>按购买数量排序</option>
             <option>按浏览量排序</option>
         </select>
         <div class="search sele"><input type="search" placeholder="在这里搜索"><span><img src="../images/search_03.jpg"> </span> </div>


     </div>

 </div>
<div class="address">
    <div class="add">
        <p><a href="http://map.baidu.com/"> 地址:北京巴拉巴拉</a></p>
        <p><a href="http://map.baidu.com/"> 路线:北京市黄渠地铁站C口</a></p>
    </div>
</div>
<div class="footer">
    <div class="footer_one">

    </div>
</div>


</body>
</html>