.jzmm>i{cursor: pointer}

*{margin:0;padding:0}
.bd_in {width: 404px;height: auto;margin: 0 auto;padding: 0;margin-top: 100px;background: #0c2138;background-color:rgba(0,0,0,0.4)}
.bd_in1 {width: 330px;height: 50px;line-height: 50px;padding-left: 30px;border-bottom: 1px solid #23374f;color: #fff;font-family: "Microsoft YaHei";margin-left: 25px;}
.bd_in1 { position:relative;width: 330px;height: 50px;line-height: 50px;padding-left: 20px;border-bottom: 1px solid #22364f;font-family: "Microsoft YaHei";}
.bd_in1 h1{list-style: none;margin: 0;padding: 0;font-family: "Microsoft YaHei"; font-size: 17px; font-weight: normal; display: inline-block;}
.bd_in1 a{color:#fff;font-size: 14px;text-decoration: underline;}
.bd_in1 .xin{ display: inline-block; overflow: hidden; width: 83px; height: 30px; line-height: 30px; position: absolute; top: 10px; right: 10px; text-align: center;}
.bd_in1 .btn_close:hover .ico_close{background-position: 0 -12px;}
.bd_in2 {width: 404px;height: auto; padding-bottom:20px;padding-top:0px;margin: 0;}
.user {width: 100%;height: 42px;text-align:center;padding: 0;display: block;position:relative}
.user>img{position:absolute;right:70px;top:7px;width:30px;height:30px}
.yh{width: 255px;height: 39px;line-height: 39px;padding: 0 10px 0 45px;border: 1px solid #ccc;color:#F7F9FC;font-size: 14px;font-family: "Microsoft YaHei";outline: none;margin: 0 auto;display: inline-block;border-radius: 50px;background-color: transparent;background: url("images/00_01.png") no-repeat 20px 10px;}
.yh:hover {filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
input::-webkit-input-placeholder { -webkit-transition: color.5s;}
input:focus::-webkit-input-placeholder,input:hover::-webkit-input-placeholder {color: #fff;-webkit-transition: color.5s;}
.mima{text-align:center;width: 100%; height: 42px; margin-top: 15px;margin-bottom: 20px;position:relative;}
.dxxtsh{width:100px;height:25px;line-height:25px;display: inline-block; background-color: #ffffda;position:absolute;font-family: "Microsoft YaHei";left:50px;top:32px; font-size:12px;border:#d1b07c 1px solid;border-radius: 4px; display: none;}
.dxxtsh b{width:0px;height:0px; border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #d1b07c; display: inline-block; position: absolute; left: 50%;top:-6px; margin-left: -10px;}
.dxxtsh i{width:0px;height:0px; border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 4px solid #ffffda; display: inline-block;position: absolute; left: 50%;top:-4px;margin-left: -8px;}
.mm {outline: none;padding: 0 10px 0 45px;width: 255px; height: 39px; line-height: 39px; border: 1px solid #ccc; color: #F7F9FC; font-size: 14px; font-family: "Microsoft YaHei";border-radius: 50px;background-color: transparent;background: url("./images/00_03.png") no-repeat 20px 10px;}
.mm:hover { filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;}
.jzmm { width: 298px; height: 30px; line-height: 30px; font-size: 14px; font-family: "Microsoft YaHei";  margin: 0 auto; display: block; padding: 0; margin-top: 10px; color: #fff; }
.jzmm input[type=checkbox]{ margin: 0; padding: 0; display: inline-block; vertical-align: middle; margin-top: -2px;}
.jzmm i{float: right;color:#2e95f3;}
.dl_btn {width:100%;height: 40px; margin-top: 20px; padding: 0; display:  block;}
.dl_btn a{font-size: 16px; text-align: center;  height: 40px; line-height: 40px; display: block;  margin: 0 auto; font-family: "Microsoft YaHei";border-radius: 50px;float:left;}
.dl_btn .close_btn{margin-left:43px;border:1px solid #2e95f3;width: 146px;color: #50acff;background: #2e95f3;color:#ffffff;}
.dl_btn .close_btn:hover{background: #50acff; }
.dl_btn .login_btn{margin-left:20px;background: #2e95f3;width: 148px;color:#ffffff;}
.dl_btn .login_btn:hover{ background: #50acff;}
/*第三方登录*/
.sjzh {width: 50%; height: 20px; line-height: 20px; font-size: 15px; font-family: "Microsoft YaHei"; color: #fff;  margin: 0 auto; margin-top: 25px; display:  block; padding: 0;text-align: center;}
.sjzh .qq{background: #2e95f3;border-radius: 50%;width: 40px;height: 40px;}
.sjzh span{position: relative;}
.sjzh a{ position: absolute;}
.sjzh span:nth-of-type(1) a{top:10px;left:11px;}
.sjzh span:nth-of-type(2) a{top:10px;left:10px;}
.sjzh span:nth-of-type(3) a{top:11px;left:9px;}
.sjzh .wb{background: #f81821;border-radius: 50%;width: 40px;height: 40px;}
.sjzh .wx{background: #85da48;border-radius: 50%;width: 40px;height: 40px;}
/*新用户注册*/
.zczh { clear: both; width: 322px; margin: 0 auto; height: 20px; line-height: 20px; margin-top: 20px;display: block;font-size: 14px;font-family: "Microsoft YaHei"; color: #fff; text-align: center;}
.zczh a { color: #2e95f3; text-decoration: none; font-weight: normal; float: right;}
.zczh a:hover { font-weight: normal; text-decoration: underline; }
.dsf {width:480px; height:30px;margin-top: 25px;}
.dsf_left{float: left; border-bottom: 1px solid #28394c;width: 30%; margin-left: 10px; margin-top: 10px;}
.dsf_center{text-align: center;width: 52%;font-size: 12px;color: #fff;}
.dsf_right{border-bottom: 1px solid #28394c;width: 30%;margin-left:245px; margin-top: -5px;}
.xz_btn {width: 186px;max-height: 184px;padding: 0;margin: 30px auto 30px auto;overflow: hidden;}
.pop {width: 186px;height: 184px;color: #ffffff;font-size: 14px;}
.pop:hover {cursor: pointer;}
.ewm {width: 186px;height: 24px;margin-top: 14px;float: left;font-size: 13px;font-family: "Microsoft YaHei";color: #fff;text-align: center;line-height: 24px;letter-spacing: 2px;}
.error{ height: 40px; line-height: 40px;}
.error .err_txt{ width: 270px;color: #FF0000; font-size: 14px;font-family: "Microsoft YaHei"; margin: 0 auto;}
/* .dsfdlPIC{width:100%;height:70px;background:url("images/sfdl.png")22px 30px no-repeat} */
.dsfdlPIC{width:100%;height:70px;background: url("../icon/cs.png"); background-size: 100%; color: #fff; text-align: center;font-size:12px;margin-top:2px;}
.dsfdlPIC p:nth-child(1),p:nth-child(3){width: 30%;float: left;margin: 0 3%;height: 35px;border-bottom: 1px solid #546273;}
.dsfdlPIC p:nth-child(2){width: 26%; float: left;line-height: 70px;}


.clear{clear:both;height:0;display:block;content:'';overflow:hidden}
.clear:after{zoom:1}
.dsfdlLOGO{height:45px;width:100%}
.dsfdlLOGO>ul{height:100%;width:100%}
.dsfdlLOGO>ul>li{height:100%;width:45px;cursor:pointer;float:left;}
.QQdl{background:url("images/dsfdlLogo.png")-0px 0px no-repeat;margin-left:180px}
/* .WBdl{ background:url("images/dsfdlLogo.png")-82px 0px no-repeat;margin-left:50px} */
/*.WXdl{background:url("images/dsfdlLogo.png")-168px 0px no-repeat;margin-left:50px}*/
#QQdl>a{opacity:0;display:block;width: 100%;height: 100%;}
#QQdl>a>img{width: 100%;height: 100%;}